@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgba(241, 245, 249);
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.slide-in-left {
  animation: 0.5s ease-out 0s 1 slideInFromLeft;
}
.slide-in-right {
  animation: 0.5s ease-out 0s 1 slideInFromRight;
}

.content-wrapper {
  min-height: 100vh; /* Full height of the viewport */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer {
  margin-top: auto; /* Pushes the footer to the bottom */
}

.auth-form {
  width: 50%;
}

@media (max-width: 768px) {
  .auth-form {
    width: 90%;
  }
}

.leaflet-popup-button {
  background-color: #f56565; /* red-500 */
  width: 100%;
  color: white;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 4px;
  text-align: center;
}
